image: paymentsos/mesos-frameworks:build

stages:
  - test
  - build

variables:
  IMAGE: $CI_REGISTRY_IMAGE
  BASE_IMAGE: $CI_REGISTRY_IMAGE/base
  TAG: $CI_COMMIT_TAG
  REF_NAME: $CI_COMMIT_REF_NAME
  COMMIT_SHA: $CI_COMMIT_SHA

services:
  - docker:dind

before_script:
   - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY

Tests:
  stage: test
  script:
    - NPM_ENV=dev npm install
    - npm install -g istanbul
    - istanbul cover ./node_modules/mocha/bin/_mocha tests/*.test.js tests/*.integration.js

Build:
  stage: build
  script:
    - apt-get install -y git
    - ./build.sh